@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:100');

$logoColor: #ff00ac;

#logo {
  font-family: 'Roboto Slab', serif;
  color: $logoColor;
}

#app {
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

.card-body {
  flex: 1 1 auto;
  padding: 1.25rem;
}

.form-signup,
.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 0 15px;
  margin: 0 auto;

  .checkbox {
    font-weight: 400;
  }
  .form-control {
    position: relative;
    box-sizing: border-box;
    height: auto;
    padding: 10px;
    font-size: 16px;

    &:focus {
     z-index: 2;
    }
  }
}

.form-signup {
  margin-top: 16vh;
}

.form-signin {
  margin-top: 20vh;

  input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }

  input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }
}