<template>
  <form class="form-signin text-center">
    <h1 id="logo">INV</h1>
    <h2 class="h3 mb-3 font-weight-normal">Please sign in</h2>
    <label for="inputEmail" class="sr-only">Email address</label>
    <input type="email" v-model="email" class="form-control" placeholder="Email address" required="" autofocus="">
    <label for="inputPassword" class="sr-only">Password</label>
    <input type="password" v-model="password" class="form-control" placeholder="Password" required="">
    <button class="btn btn-lg btn-primary btn-block" v-on:click="login" type="submit">Sign in</button>
    <hr>
    <div class="mb-3">
      Don't have an account? <router-link to="/signup">Click here to register a new account.</router-link>
    </div>
  </form>
</template>

<script>
import firebase from 'firebase'

export default {
  name: 'login',
  data: function () {
    return {
      email: '',
      password: ''
    }
  },
  methods: {
    login () {
      firebase.auth().signInWithEmailAndPassword(this.email, this.password).then(
        (user) => {
          alert('Login Success!')
        },
        (err) => {
          alert('Error: ' + err.message)
        }
      )
    }
  }
}
</script>
