<template>
  <form class="form-signup text-center">
    <div class="mx-auto">
      <h1 id="logo">INV</h1>
      <h2 class="h3 mb-3 font-weight-normal text-center">Sign-up</h2>
      <fieldset>
        <div class="form-group">
          <input type="email" class="form-control" placeholder="E-mail Address" v-model="email" required="">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Password" v-model="password" value="" required="">
        </div>
        <div class="form-group">
          <input type="password" class="form-control" placeholder="Confirm Password" v-model="validatePassword" value="" required="">
        </div>
      </fieldset>
      <input class="btn btn-lg btn-primary btn-block" v-on:click="signup" value="Sign Me Up" type="submit">
      <hr>
      <div class="mb-3">
        Already have an account?<br><router-link to="/login">Click here to sign-in!</router-link>
      </div>
    </div>
  </form>
</template>

<style lang="scss">
fieldset .form-group {
  margin-bottom: -1px;

  .form-control {
    border-radius: 0px;
  }

  &:first-child {
    .form-control {
      border-top-right-radius: 0.25rem;
      border-top-left-radius: 0.25rem;
    }
  }
  &:last-child {
    .form-control {
      border-bottom-right-radius: 0.25rem;
      border-bottom-left-radius: 0.25rem;
    }

    margin-bottom: 1rem;
  }
}
</style>

<script>
import firebase from 'firebase'
import {isUndefined, isNull, isEmpty} from 'underscore'

export default {
  name: 'signup',
  data: function () {
    return {
      email: '',
      password: '',
      validatePassword: ''
    }
  },
  methods: {
    signup () {
      if (this.validateForm()) {
        firebase.auth().createUserWithEmailAndPassword(this.email, this.password).then(
          user => {
            console.log(user, 'account created!')
            alert('Account Created!')
          },
          err => {
            console.error(err.message)
          }
        )
      } else {
        alert('form not valid!')
      }
    },
    validateForm () {
      let isValid = value => !isUndefined(value) && !isNull(value) && !isEmpty(value)
      let isEmail = email => {
        var re = /^(([^<>()[\]\\.,;:\s@"]+(\.[^<>()[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/
        return re.test(email)
      }

      if (isValid(this.email) && isEmail(this.email) && isValid(this.password) && isValid(this.validatePassword)) {
        return true
      } else {
        return false
      }
    }
  }
}
</script>
